<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{ title }} | {% endif %}checklist-front</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header>
    <h1 class="base--h1">{{ title }}</h1>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="/js/main.js" defer></script>
</body>
</html>
